*/draft_text.txt
*/ADHOC_NOTES.md
env/*
simon.ipynb
chapter_02/archive/*
chapter_03/archive/*
chapter_02/bike_rides_april.csv
chapter_02/bike_rides/*
chapter_02/bike_rides_april.json
chapter_02/export_directory/*
chapter_03/web_usage.csv
chapter_04/*.parquet
chapter_04/book_reviews_hive/*
chapter_04/profile*.log
chapter_04/*.db
*.wal
*/archive/*
chapter_05/demo.db
chapter_05/reviews_original.parquet
chapter_04/movies/*
chapter_04/wine/*
chapter_04/amazon*
chapter_04/data.csv
chapter_04/insertions*
chapter_04/books_data.csv
chapter_04/Books_rating.csv
chapter_04/archive.zip
*/tmp.tmp/*

