*/draft_text.txt
chapter_02/archive/*
chapter_03/archive/*
env/*
simon.ipynb
chapter_02/bike_rides_april.csv
chapter_02/bike_rides/*
chapter_02/bike_rides_april.json
chapter_02/export_directory/*
chapter_03/web_usage.csv
chapter_03/ADHOC_NOTES.md
