*/draft_text.txt
*/ADHOC_NOTES.md
env/*
simon.ipynb
chapter_02/archive/*
chapter_03/archive/*
chapter_02/bike_rides_april.csv
chapter_02/bike_rides/*
chapter_02/bike_rides_april.json
chapter_02/export_directory/*
chapter_03/web_usage.csv
chapter_04/*.parquet
chapter_04/book_reviews_hive/*
chapter_04/profile*.log
chapter_04/*.db
*.wal
